
__pycache__/__init__.cpython-38.pyc
*.pyc
/.idea/.gitignore
/.idea/django-easy-faq.iml
/dist/django-easy-faq-1.4.tar.gz
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
