{% extends 'faq/base.html' %}
{% block title %}FAQ | Answer Question{% endblock %}
{% block heading %}Answer Question{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'faq:index_view' %}">FAQ</a></li>
          {% if question.category and category_enabled %}
              <li class="breadcrumb-item"><a href="{% url 'faq:category_detail' question.category.slug %}">{{question.category}}</a></li>
              <li class="breadcrumb-item"><a href="{% url 'faq:question_detail' question.category.slug question.slug %}">{{question.question}}</a></li>
          {% else %}
              <li class="breadcrumb-item"><a href="{% url 'faq:question_detail' question.slug %}">{{question.question}}</a></li>
          {% endif %}
            <li class="breadcrumb-item active">Answer Question</li>
      </ol>
    </nav>
{% endblock %}
{% block content %}
<a href="{{question.get_absolute_url}}"><h2>{{question.question}}</h2></a>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
            <input type="text" name="{{ field.name }}" class="form-control" id="{{ field.auto_id }}" required>
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-success">
</form>
{% endblock %}
